<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/header.ejs') %> 
        <title>Tutorías</title>
    </head>
    <body>
        <h1>Tutorías</h1>
        <%- include('./partials/navbar.ejs') %>
        Esta es la página de tutorías.
        <%- include('./partials/footer.ejs') %>
    </body>
</html>