<div class="container-fluid fixed-bottom">
    <div class="row p-5 pb-2 bg-dark text-white">
    <div class="col-xs-12 col-md-6 col-lg-3"><p class="h4"><a href="/" class="text-decoration-none text-white">Tutorías</a></p>
        
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3"><p class="h5">Contacto</p>
        <div class="mb-2 text-secondary"><i class="fa-brands fa-whatsapp text"></i> (+57)3105788157</div>
        <div class="mb-2 text-secondary">Sergio Pastor Gallego</div>
        <div class="mb-2 text-secondary">serpastorg@gmail.com</div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3"><p class="h5"><a class="text-decoration-none text-white" href="#">Acerca de nosotros</a></p></div>
    <div class="col-xs-12 text-white text-center pt-3"><p class="h6"><i class="fa-regular fa-copyright"></i> 2023. Todos los derechos reservados</p></div>    
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>