<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand mb-0 h1">Inicio</a>
    <button type="button" 
    data-bs-toggle="collapse" class="navbar-toggler" 
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false" aria-label="Expandir">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown active">
                <span class="nav-link dropdown-toggle"
                id="navEstudiantes" role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false" >Estudiantes</span>
                <ul class="dropdown-menu"
                aria-labelledby="navEstudiantes">
                    <li><a class="dropdown-item" href="/estudiantes">Listado de estudiantes</a></li>
                    <li><a class="dropdown-item">Verificar Horario</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle"
                id="navProfesores" role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false" >Profesores</span>
                <ul class="dropdown-menu"
                aria-labelledby="navProfesores">
                    <li><a class="dropdown-item" href="/profesores">Listado de profesores</a></li>
                    <li><a class="dropdown-item">Verificar Horario</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle"
                id="navMaterias" role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false" >Materias</span>
                <ul class="dropdown-menu"
                aria-labelledby="navMaterias">
                    <li><a class="dropdown-item" href="/materias">Listado de materias</a></li>
                    <li><a class="dropdown-item">Horarios disponibles</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/clases">Clases</a>
            </li>
        </ul>
    </div>
    </div>
</nav>